{{ define "header_css" }}{{ end }}

{{ define "main" }}
<style>
  .main-page-link-list {
    list-style: none;
    padding: 25px;
  }

</style>
<div class="grid grid-cols-3 gap-4">
  <div class="col-span-3 lg:col-span-2 mb-3">
    {{if .IsHome}}
    {{.Scratch.Set "Paginator" (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections) (.Site.Params.paginator_pages) )}}
    {{else}}
    {{.Scratch.Set "Paginator" .Paginator}}
    {{end}}
    {{$paginator:=(.Scratch.Get "Paginator")}}
    {{ range $paginator.Pages }}
    <a href="{{.RelPermalink}}">
      {{ .Render "summary" }}
    </a>
    {{ end }}
    {{ partial "paginator.html" . }}
  </div>
  <div class="hidden lg:block lg:col-span-1">
    <div class="bg-white panel mb-3">
      <p class="text-xl text-center text-gray-700 py-3 pl-3">Також дивіться:</p>

      <ul class="main-page-link-list">
        <li>
          <a href="/address"> Адміністрація, адреси </a>
        </li>
        <li>
          <a href="/page/introduce"> Вступне слово ректора </a>
        </li>
        <li>
          <a href="/about"> Про університет </a>
        </li>
        <li>
          <a href="/royal"> Укази Президента </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{{ end }}
