<div class="custom-page-header">
    <div class="container mr-auto ml-auto"> {{/*размещение по бокам экрана*/}}
        <nav class="flex items-center justify-around flex-wrap bg-red-500 p-1">
            <div class="hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow">
                </div>
                <div class="navmenu">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}"
                        class="no-underline block mt-4 sm:inline-block sm:mt-0 text-white hover:text-white mr-4">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }

    .custom-page-header {
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 999;
        background: #EF4833;
    }

    .name-title-with-shadow {
        text-shadow: -2px 3px 4px #000;
    }

</style>
<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>

<div class="bg-red-700">
  <div class="container mr-auto ml-auto"> {{/*размещение по бокам экрана*/}}
        <nav class="flex items-center justify-center flex-wrap bg-red-700 p-4">
            <div class="flex items-center flex-no-shrink bg-red-700 text-yellow-400 mr-6">
                <a href="{{ .Site.BaseURL }}"><span
               class="name-title-with-shadow font-serif text-2xl tracking-tight">КИЇВСЬКИЙ НАЦІОНАЛЬНИЙ УНІВЕРСИТЕТ ІМЕНІ ТАРАСА ШЕВЧЕНКА</span></a>
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }
</style>
